<div id="gitment-ctn"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
var gitalk = new Gitalk({
  owner: '<%=theme.gitalk_owner%>',
  repo: '<%=theme.gitalk_repo%>',
  admin: '<%=theme.gitalk_admin%>',
  clientID: '<%=theme.gitalk_client_id%>',
  clientSecret: '<%=theme.gitalk_client_secret%>',
  distractionFreeMode: false
})
gitalk.render('gitment-ctn')
</script>
